*{margin: 0;padding: 0; box-sizing: border-box;}
/*menu*/
header{
    padding: 12px;
    background: black;
}

header li{
    display: inline-block;
    margin:0 12px;
}
header a{
    text-decoration: none;
    font-size: arial;
    color: white;
}
header a:hover{
    color: gray;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
}

#bandeira{
    background-color: black;
}
/*seções*/
.section{
    background-color: white;
}

#mapa{
    text-align: center;
    padding: 20px;
}
h1,h2,h3{
    font-size: 30px;
    text-align: center;
    padding: 1%;
}
p,label{
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 1%;
    font-size: 20px;
}
ul,ol{
    text-align: left;
    font-weight: bold;
    color: black;
    margin-left: 50px;
    padding: 1%;
    font-size: 20px;
}

.img{
    text-align: center;
    background-color: black;
    padding: 15px;
}



.bt-50{
    border-radius: 80%;
    padding: 30px;
}
/*Final da página*/
.tm-contato{
    width: 75px;
    height: 75px;
    padding: 15px;
}

html {
    scroll-behavior: smooth;
}