*{margin: 0;padding: 0; box-sizing: border-box;}
.center{
    max-width: 1100px;
    margin:0  -30px;
    padding: 0 2%;
}
/*menu*/
header{
    padding: 12px;
    text-align: left;
    background: black;
}

header li{
    display: inline-block;
    margin:0 12px;
}
header a{
    text-decoration: none;
    font-size: arial;
    color: white;
}
#fotoinicio{
    background-color: rgb(128,11,102);
}
/*seções*/
.sectiona{
    background-color: rgb(241, 0, 6);
}

.sectionb{
    background-color:  rgb(252, 105, 0);
}
.sectionc{
    background-color:  rgb(253, 232, 17);
     
}
.sectiond{
    background-color:  rgb(136, 9, 100);
    
}

.sectione{
    background-color: rgb(1,58,165);
}
.sectionf{
    background-color: rgb(14, 157, 95);
}

#mapa{
    text-align: center;
}

h1,h2, p{
    text-align: center;
    font-weight: bold;
}

ul, ol, label, input, h3{
    font-weight: bold;
    text-align: left;
    margin: 0px 30px;
}

.img{
    text-align: center;
    background-color: rgb(253, 232, 17);
}

/*container img*/
.container{
    display: flex;
    flex-flow: row;
    flex-direction: row;
     justify-content: center;
     align-items: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(253, 232, 17);
    
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
1
